<div>
	<h1>ng1 App</h2>
	<div class="row">
		<div class="large-4 medium-6 small-12 columns">
			<label>
				Rows:
				<input type="number" ng-model="$ctrl.numRows" ng-model-options="{ updateOn: 'default', debounce: 300 }" />
			</label>
		</div>
		<div class="large-4 medium-6 small-12 columns">
			<label>
				Filter:
				<input type="text" ng-model="$ctrl.filter" ng-model-options="{ updateOn: 'default', debounce: 300 }" />
			</label>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="medium-6 small-12 columns">
			<ng1-data-table data="$ctrl.displayData" columns="$ctrl.columns"></ng1-data-table>
		</div>
		<div class="medium-6 small-12 columns">
			<react-data-table data="$ctrl.displayData" columns="$ctrl.columns"></ng4-data-table>
		</div>
	</div>
</div>
